 <% provide(:title, "About")%>
 
 <div class="row-fluid">
 	<div class="span3">
 		<%= link_to image_tag("collection.gif"), collection_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("custom.gif"), custom_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("kimono.gif"), '#' %>
 	</div>
 	<div class="span6 c9c-bio">
 		<%= image_tag("bio.jpg", :class => "c9c-bio-img") %> 
 		<h5>How did you get interested in Fashion?</h5><p><small>I have always been interested in the power behind fashion and I think it’s interesting to see how the language of personal style reflects your life. Early on I struggled with the idea that we are all wearing these costumes that represent fashion categories as determined by the corporate fashion machine. I found it stifling and oppressive, so I started designing clothing that was personal and had soul.</small> </p>
 		<h5>Where did you draw your inspiration for your hand painted silk dresses?</h5><p><small>I focus on that raw, sexy edge that is sometimes hard to find in ourselves. That powerful feeling you get deep down, when you look fantastic and feel fantastic and you just don’t give a damn. My silk dresses feel really good and the body responds to that. It is delightful to be part of the magic that lifts a woman out of her mind and puts her back in touch with the prancing, sexy, bad-ass goddess inside her skin.</small></p>
 		<h5>When did you start your fashion career?</h5><p><small>My father and I started a wholesale business in 1990, where we designed and produced a line of hand dyed silk neckties and scarves. In the beginning we were doing little street fairs, but by the end of 2007 we had over 250 accounts nationwide selling our products. At that point, I sold my half of the business and began to focus on fashion design. I took classes at FIT and started sculpting fabric into dresses using my silk textiles.</small></p>
 		<h5>Do you remember your first design or piece? What was it?</h5><p><small>Yes, I made a cape with strings to hold it in place. It was a yard of silk with an illustration of a woman being attacked by a bird. I wore it to a loft party in Soho and I thought I looked so cool…until a woman asked me if I was wearing a blanket. Ha! My skills were pretty raw at that point.</small></p>
 		<h5>What is your favorite part about designing?</h5><p><small>It’s an interesting game for my mind to play. There is always more to learn and room for improvement. I can do this for the rest of my life and not get bored with it.</small></p>
 		<h5>What's next for your fashion?</h5><p><small>My aim is to make more and to do it better! I will continue to develop my sewing and painting skills as I pursue my dreams of creating custom clothing that captures the essence of the person wearing it. This idea has been with me from the beginning….I imagine utilitarian coats/robes that are lined with hand dyed silk. This silk is illustrated with prayers, talismans, and images that sustain and elevate the spirit of the person wearing it. These heirloom quality coats/robes would cocoon the human wearing them with artistry and depth of feeling. Each one would be unique, custom made, and very personal. </small></p>
 			
 	</div>
 	<div class="span3">
 		<%= link_to image_tag("about.gif"), about_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("links.gif"), links_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("contact.gif"), new_contact_path %>
 	</div>
 </div>