<% provide(:title, "Links")%>
		
			<%= link_to image_tag("collection2013/MLM-01-thumb.jpg"), "../assets/collection2013/MLM-01.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-02-thumb.jpg"), "../assets/collection2013/MLM-02.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-03-thumb.jpg"), "../assets/collection2013/MLM-03.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-04-thumb.jpg"), "../assets/collection2013/MLM-04.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-05-thumb.jpg"), "../assets/collection2013/MLM-05.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-06-thumb.jpg"), "../assets/collection2013/MLM-06.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-07-thumb.jpg"), "../assets/collection2013/MLM-07.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-08-thumb.jpg"), "../assets/collection2013/MLM-08.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-09-thumb.jpg"), "../assets/collection2013/MLM-09.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-10-thumb.jpg"), "../assets/collection2013/MLM-10.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-11-thumb.jpg"), "../assets/collection2013/MLM-11.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-12-thumb.jpg"), "../assets/collection2013/MLM-12.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-13-thumb.jpg"), "../assets/collection2013/MLM-13.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-14-thumb.jpg"), "../assets/collection2013/MLM-14.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-15-thumb.jpg"), "../assets/collection2013/MLM-15.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-16-thumb.jpg"), "../assets/collection2013/MLM-16.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-17-thumb.jpg"), "../assets/collection2013/MLM-17.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-18-thumb.jpg"), "../assets/collection2013/MLM-18.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-19-thumb.jpg"), "../assets/collection2013/MLM-19.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-20-thumb.jpg"), "../assets/collection2013/MLM-20.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-21-thumb.jpg"), "../assets/collection2013/MLM-21.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-22-thumb.jpg"), "../assets/collection2013/MLM-22.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-23-thumb.jpg"), "../assets/collection2013/MLM-23.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-24-thumb.jpg"), "../assets/collection2013/MLM-24.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-25-thumb.jpg"), "../assets/collection2013/MLM-25.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-26-thumb.jpg"), "../assets/collection2013/MLM-26.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-27-thumb.jpg"), "../assets/collection2013/MLM-27.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-28-thumb.jpg"), "../assets/collection2013/MLM-28.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-29-thumb.jpg"), "../assets/collection2013/MLM-29.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>
			<%= link_to image_tag("collection2013/MLM-30-thumb.jpg"), "../assets/collection2013/MLM-30.jpg", :title => "MLM 01", :class => "c9c-thumbnail fancybox" %>

			
			<div class="c9c-panel-bottom row-fluid clearfix">
			<div class="span12">
			<%= link_to image_tag("custom.gif"), custom_path %>
			<%= link_to image_tag("kimono.gif"), '#'%>
			<%= link_to image_tag("about.gif"), about_path %>
			<%= link_to image_tag("links.gif"), links_path %>
			<%= link_to image_tag("contact.gif"), new_contact_path %>
			</div>
			</div>
			
