 <% provide(:title, "Custom")%>
 
<div class="row-fluid">
	<div class="span6 offset1">
		<%= image_tag("customform.jpg")%>
	</div>
	<div class="span3 offset1">
		<%= link_to image_tag("collection.gif"), collection_path %>
		<div class="c9c-panel-emptyblock30"></div>
		<%= link_to image_tag("kimono.gif"), '#' %>
		<div class="c9c-panel-emptyblock30"></div>
		<%= link_to image_tag("about.gif"), about_path %>
		<div class="c9c-panel-emptyblock30"></div>
		<%= link_to image_tag("links.gif"), links_path %>
		<div class="c9c-panel-emptyblock30"></div>
		<%= link_to image_tag("contact.gif"), new_contact_path %>
	</div>
</div>
