<% provide(:title, "Welcome")%>

	<div class="c9c-panel">
		<%= link_to image_tag("collection.gif"), collection_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("custom.gif"), custom_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("kimono.gif"), '#'%>
	</div>
	
	<div class="c9c-center-container">
		<div class="c9c-welcome-image">
			<%= image_tag("mlm_centerimage.gif")%>
		</div>
		<div class="c9c-welcome-bottom-image">
			<%= image_tag("mlm_centerbottom.gif")%>
		</div>
	</div>
	
	<div class="c9c-panel">
		<%= link_to image_tag("about.gif"), about_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("links.gif"), links_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("contact.gif"), new_contact_path %>
	</div>
		
