<div class="row-fluid">
 	<div class="span3">
 		<%= link_to image_tag("collection.gif"), collection_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("custom.gif"), '# '%>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("kimono.gif"), '#'%>
 	</div>
 	<div class="span6 c9c-bio">
 		<h1>Thank you! I will be in contact with you shortly!</h1>
 	</div>
 	<div class="span3">
 		<%= link_to image_tag("about.gif"), about_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("links.gif"), links_path %>
		<div class="c9c-panel-emptyblock90"></div>
		<%= link_to image_tag("contact.gif"), new_contact_path %>
 	</div>
 </div>